/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/components/contactForm.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.contactForm_container__4_bAm {
  background-color: rgb(47, 137, 135);
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.contactForm_container__4_bAm input {
  border-radius: 20px;
  border-color: transparent;
  padding: 13px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}
.contactForm_container__4_bAm textarea {
  border-radius: 20px;
  border-color: transparent;
  padding: 13px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/components/homeSection.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.homeSection_homeSection1__nmMuE {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: currentcolor;
}
.homeSection_homeSection1_image__Pmu_P {
  border-radius: 40px;
  flex: 0.5 1;
}

.homeSection_homeSection1__nmMuE h1 {
  color: aliceblue;
  margin-right: 20px;
  flex: 0.5 1;
}

